.wrapper {
  width: 100%;
  @include ltr-rtl("padding-left", var(--cui-sidebar-occupy-start, 0));
  will-change: auto;
  @include transition(padding .15s);
}
.simplebar-content > li > a  >svg,.simplebar-content > li > a {
  font-weight: 700;
  color:rgb(144, 100, 187) !important;
}
.sidebar-nav .nav-link.active {
  background-color: white!important;
  border-left: 4px solid rebeccapurple;
}
.nav-title {
  color: rebeccapurple !important;
}
.sidebar-nav .nav-link:hover {
  background-color: rgb(221, 220, 221);
}
