// Here you can add other styles
.body {
  background-image: url(../assets/images/home-backgroundlight.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px;
    padding-left: 10% !important;
    padding-right: 10% !important;
}
.connectWalletContainer {
  box-shadow: rgb(25 19 38 / 70%) 0px 2px 12px -8px, rgb(25 19 38 / 5%) 0px 1px 1px !important;
}
.btn-website{
  background: rebeccapurple !important;
  padding: 10px 20px 10px 20px !important;
  font-weight: 700;
  color: white;
  border-radius: 30px;
  outline: none;
  text-decoration: none;

  &:hover {
    transition: 0.3s;
    color: white ;
    background: rgb(133, 85, 180) !important;

  }
}
@media screen and (max-width: 405px){
  .sidebar-brand-full {
    margin-right: 100px;
  }
  .nftStakingContainer {
    padding: 0px !important;
  }
  .btn-website{
    padding: 5px 20px 5px 20px !important;
  }
  .nftStakingTopTitle {
    font-size: 30px !important;
  }
  .top-title {
    padding-top: 20px;
    font-size: 15px !important;
  }

  .ftStakingContainer {
    padding: 0px !important;
  }

  .infoContain {
    padding: 0px 0px 0px 20px !important;
  }
}

.appfooter {
  background-color: white;
  border-top: 5px solid rgb(233, 231, 231);
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 17px;
}
.appfooter > div  {
    a {
      color: rgb(133, 85, 180);
      text-decoration: none;
      font-weight: 800;
    }
}

.logoBar {
  border-bottom: 1px solid rgb(226, 224, 224);
}

.infoContain-topbar {
  background: white;
  box-shadow: rgb(25 19 38 / 70%) 0px 2px 12px -8px, rgb(25 19 38 / 5%) 0px 1px 1px;
  color: rgb(69, 42, 122);
  text-align: center;
  font-size: 27px;
  font-weight: 800;
  border-radius: 25px;
  padding: 25px;

}
.card {
  border-radius: 30px;
  .infoContainer {
    text-align: center;
    border: none;
  }

  .infoContain {
    text-align: center;
    margin-top: 30px;
    padding: 20px;
    border-radius: 25px;
    box-shadow: rgb(25 19 38 / 70%) 0px 2px 12px -8px, rgb(25 19 38 / 5%) 0px 1px 1px;
    h1 {
      color: rgb(69, 42, 122);
      font-size: 15px;
      text-align: left;
      font-weight: 700;
    }
    p {
      color: rgb(177, 105, 196);
      font-size:30px;
      text-align: left;
      font-weight: 600;
    }
  }


}
.ftinfoContain {
  background: white !important;
  text-align: center;
  margin-top: 30px;
  padding: 30px;
  border-radius: 25px;
  box-shadow: rgb(25 19 38 / 70%) 0px 2px 12px -8px, rgb(25 19 38 / 5%) 0px 1px 1px;

    h1 {
    color: rgb(69, 42, 122);
    font-size: 20px;
    font-weight: 800;
    }
    p {
      color: rgb(120, 77, 170);
      font-size: 13px;
      font-weight: 700;
    }
}
.toptitleContainer {
  h1 {
    font-weight: 800;
    color: rgb(69, 42, 122);
    text-align: center;
    font-size: 40px;
    padding-bottom: 30px;
  }
  p {
    font-weight: 800;
    color: rgb(69, 42, 122);
    text-align: center;
    font-size: 17px;
    padding-bottom: 30px;
  }
}

.ftstakingInput {
  border: none !important;
  outline: none !important;
  background: aliceblue;
  width: 100%;
  border-radius: 20px;
  padding: 10px;

}

.ftstakeBtn {
  border: none;
  width: 100%;
  border-radius: 20px;
  background: rgb(118, 69, 217) !important;
  margin-top: 10px;
  color: white;
  font-weight: 700;
  padding: 10px 20px 10px 20px;

  &:hover {
    transition: 0.5s;
    background: rgb(139, 80, 197) !important;
  }
}

.nfttoptitleContainer {
  text-align: center;
  h1 {
    color: rgb(73, 38, 107);
    font-size: 50px;
    font-weight: 800;
  }
  p {
    color: rgb(110, 65, 155);
    font-size: 15px;
    font-weight: 800;
  }
}
.sidebarBottom {
  padding: 20px;
  background-color: white;
  color: black;
  display: flex;
  font-weight: 600;
  justify-content: center;
  border: none;
}

@media screen and (max-width: 385px){
  .body {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .container-fluid {
    display: flex !important;
    justify-content: center !important;
  }
  .sc-jqUVSM {
    gap: 5PX !important;
  }
  .unstakedContainer {
    gap: 10px !important;
  }
  .sc-bczRLJ {
    gap: 0px !important;
  }
  .harvestBtn {
    font-size: 12px !important;
  }
  .unstakeAllBtn {
    font-size: 12px !important;
  }
  .totalValue {
    text-align: center;
    font-size: 18px !important;
  }
  .infoContain > h1, p {
    text-align: center !important;
  }
  .headerBtnContainer {
    margin-right: 0px !important;
  }
  .nftCardContainer {
    gap:5px !important;
    padding: 0px !important;
  }
  .headerBtnContainer > * {
    width: 30% !important;
  }
}


/*NFT STaking SCSS*/
.connectWalletContain{
  background-color: white;
  border-radius: 50px;
  box-shadow: rgb(25 19 38 / 70%) 0px 2px 12px -8px, rgb(25 19 38 / 5%) 0px 1px 1px;
  padding: 90px 0 0px 0;
  justify-content: center;
    h1 {
      font-size: 30px;
    }
    button {
      width: 70% !important;
    }
    .stakeBtn {
      width: 70%;
    }
}

